<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Site</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.0.1/css/flag-icons.min.css">
</head>

<body>
<header>
    <div class="section-site-header">
        <div class="container">
            <p class="site-title">Fitness Site</p>
            <nav class="main-nav">
                <ul>
                    <li>
                        <form th:method="get">
                            <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>
                            <select id="lang" name="lang" onchange="this.form.submit()">
                                <option value="en_US" th:selected="${#locale.toString()=='en_US'}">
                                    <i class="flag-icon flag-icon-us"></i> English
                                </option>
                                <option value="bg_BG" th:selected="${#locale.toString()=='bg_BG'}">
                                    <i class="flag-icon flag-icon-bg"></i> Български
                                </option>
                            </select>
                        </form>
                    </li>
<!--                    <li>-->
<!--                        <form th:action="@{/change-language}" method="post">-->
<!--                            <label class="text-white" for="lang" th:text="#{nav_bar_language}">Language</label>-->
<!--                            <select id="lang" name="lang" onchange="this.form.submit()">-->
<!--                                <option value="en_US" th:selected="${#locale.toString()=='en_US'}">-->
<!--                                    <i class="flag-icon flag-icon-us"></i> English-->
<!--                                </option>-->
<!--                                <option value="bg_BG" th:selected="${#locale.toString()=='bg_BG'}">-->
<!--                                    <i class="flag-icon flag-icon-bg"></i> Български-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </form>-->
<!--                    </li>-->

                    <li>
                        <a th:href="@{/}" th:text="#{nav_bar_home}">Home</a>
                    </li>
                    <!-- Conditional rendering based on authentication -->
                    <th:block sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/users/login}" th:text="#{nav_bar_login}">Login</a></li>
                        <li><a th:href="@{/users/register}" th:text="#{nav_bar_register}">Register</a></li>
                        <li><a th:href="@{/about}" th:text="#{nav_bar_about}">About</a></li>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/add-appointment}" th:text="#{nav_bar_add_appointment}">Add new appointment</a></li>
                        <li><a th:href="@{/profile}" th:text="#{nav_bar_profile}">Profile</a></li>
                        <li><a th:href="@{/appointments-all}" th:text="#{nav_bar_all_appointments}">All appointments</a></li>
                        <li><a th:href="@{/add-onlineTraining}" th:text="#{nav_bar_add_online_training}">Add online training</a></li>
                        <li><a th:href="@{/online-allTrainings}" th:text="#{nav_bar_all_online_training}">All online trainings</a></li>

                        <li sec:authorize="hasRole('ADMIN')">
                            <a href="#" th:text="#{nav_bar_admin}">Admin</a>
                        </li>
                        <li>
                            <form method="post" th:action="@{users/logout}" class="logout-form">
                                <button type="submit" class="btn btn-logout" th:text="#{nav_bar_logout}">Logout</button>
                            </form>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>
</header>
</body>
</html>
