
<header>

<div class="section-site-header">
    <div class="container">
        <p class="site-title">Fitness Site</p>

        <nav class="main-nav">
            <ul>

                <!--            <th:block th:unless="${@userHelperService.isAuthenticated()()}">-->
                <!--            <th:block th:unless="${@currentUser.isLoggedIn()}">-->
                <th:block sec:authorize="!isAuthenticated()">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li >
                        <a th:href="@{/users/login}">Login</a>
                    </li>
                    <li >
                        <a th:href="@{/users/register}">Register</a>
                    </li>
                    <li>
                        <a th:href="@{/about}">About</a>
                    </li>
                </th:block>

                <!--            <th:block th:if="${@userHelperService.isAuthenticated()()}">-->
                <!--            <th:block th:if="${@currentUser.isLoggedIn()}">-->
                <th:block sec:authorize="isAuthenticated()">

                    <li>
                        <a th:href="@{/add-route}">Add new route</a>
                    </li>
                    <li>
                        <a th:href="@{/users/profile}">Profile</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')">
                        <a >Admin</a>
                        <!--                    <a th:if="${@userHelperService.hasRole('ADMIN')}">Admin</a>-->
                        <!--                    <a th:if="${@currentUser.isAdmin()}">Admin</a>-->
                    </li>
                    <li>
                        <form
                                th:method="post"
                                th:action="@{users/logout}">
                            <button type="submit">Logout</button>

                        </form>
                    </li>
                </th:block>


            </ul>
        </nav>
    </div>
</div>
</header>