<div class="section-top-bar">
    <div class="container">
        <p class="phone"><i class="fa-solid fa-mobile-screen-button"></i> +359 89 914 4711 </p>
        <p class="location"><i class="fa-solid fa-location-dot"></i> Bulgaria, Plovdiv, bl.10</p>

        <ul class="socials">
            <li><a href="https://www.facebook.com/flais.eu/"><i class="fa-brands fa-facebook-f"></i><span>Facebook</span></a></li>
            <li><a href="https://x.com/fitnessf0rwomen?lang=bg"><i class="fa-brands fa-twitter"></i><span>Twitter</span></a></li>
            <li><a href="https://www.instagram.com/rori_fitness/?hl=bg"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a></li>
            <li><a href="https://www.youtube.com/channel/UC7t6QJ4u8qF8pI-vibX-BUQ"><i class="fa-brands fa-youtube"></i><span>YouTube</span></a></li>
        </ul>
    </div>
</div>