<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register User</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/css/styles/site.css">
</head>
<body class="register">
<header>
    <section th:replace="fragments/section-top-bar"></section>
    <div th:replace="fragments/header"></div>
</header>
<div class="registerContainer">
    <h2 class="text-center text-dark">Register User</h2>
    <form th:method="POST"
          th:action="@{/users/register}"
          th:object="${registrationData}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="fullName" class="text-dark font-weight-bold">Full Name</label>
                <input
                        th:field="*{fullName}"
                        type="text" id="fullName" min="5" max="20" class="form-control"
                       placeholder="Full name"/>
                <p class="errors alert alert-danger">
                    First name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-dark font-weight-bold">Username</label>
                <input
                        th:field="*{username}"
                        type="text"
                       id="username" min="3" max="20" class="form-control"
                       placeholder="Username"/>
                <p class="errors alert alert-danger">
                    Username is required.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-dark font-weight-bold">Email</label>
                <input
                        th:field="*{email}"
                        type="email" id="email"  class="form-control"
                       placeholder="Email"/>
                <p class="errors alert alert-danger">
                    Email is required.
                </p>
            </div>

        </div>
        <div class="form-group">
            <label class="text-center text-dark font-weight-bold" for="selectLevel">Level</label>
            <div class="col-auto">
                <select
                        th:field="*{level}"
                        name="level"
                        type="number"
                        id="selectLevel"
                        class="form-control">



                    <option th:each="levelOption: ${level}"
                            th:value="${levelOption}"
                            th:text="${levelOption}"
                    ></option>

                </select>
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="age" class="text-dark font-weight-bold">Age</label>
            <input
                    th:field="*{age}"
                    type="number" id="age" min="0" max="90"
                   class="form-control"
                   placeholder="Age"
            aria-describedby="ageHelperInLine"/>
            <small id="ageError"
                   class="invalid-feedback  form-text bg-danger rounded">Must be valid age</small>
            <p class="errors alert alert-danger">
                Password is required.
            </p>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="password" class="text-dark font-weight-bold">Password</label>
            <input
                    th:field="*{password}"
                    type="password" id="password" min="2" max="20" class="form-control"
                   placeholder="Password"/>
            <p class="errors alert alert-danger">
                Password is required.
            </p>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="confirmPassword" class="text-dark font-weight-bold">Confirm Password</label>
            <input
                    th:field="*{confirmPassword}"
                    type="password" id="confirmPassword" min="2" max="20" class="form-control"
                   placeholder="Confirm Password"/>
            <p class="errors alert alert-danger">
                Password is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>
