<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register User</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/css/styles/site.css">
</head>
<body class="register">
<header>
    <section th:replace="fragments/section-top-bar"></section>
<!--    <div th:replace="fragments/header"></div>-->
</header>
<div class="registerContainer">
    <h2 class="text-center text-dark">Register User</h2>
    <form th:method="POST"
          th:action="@{/users/register}"
          th:object="${registrationData}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="imageUrl" class="text-dark font-weight-bold">Image</label>
                <input
                        th:field="*{imageUrl}"
                        th:errorclass="is-invalid"
                        type="text" id="imageUrl"  class="form-control"
                        placeholder="Image Link"/>
                <small th:errors="*{imageUrl}" id="imageUrlUniqueError"
                       class=" bg-danger text-white rounded">Image Url is already occupied</small>


            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="fullName" class="text-dark font-weight-bold">Full Name</label>
                <input
                        th:field="*{fullName}"
                        type="text" id="fullName" min="5" max="20" class="form-control"
                       placeholder="Full name"/>
                <small th:errors="*{fullName}" id="fullNameUniqueError"
                       class=" bg-danger text-white rounded">Full name is already occupied</small>

            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-dark font-weight-bold">Username</label>
                <input
                        th:field="*{username}"
                        th:errorclass="is-invalid"
                        type="text"
                       id="username" min="3" max="20" class="form-control"
                       placeholder="Username"/>
                <small th:errors="*{username}" id="usernameUniqueError"
                       class=" bg-danger text-white rounded">Username is already occupied</small>

            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-dark font-weight-bold">Email</label>
                <input
                        th:field="*{email}"
                        th:errorclass="is-invalid"
                        type="email" id="email"  class="form-control"
                       placeholder="Email"/>
                <small th:errors="*{email}" id="emailError"
                       class=" bg-danger text-white rounded">Email is already occupied</small>

            </div>

        </div>
        <div class="form-group">
            <label class="text-dark font-weight-bold" for="selectLevel">Level</label>
            <div class="col-auto">
                <select
                        th:field="*{level}"
                        th:errorclass="is-invalid"
                        name="level"
                        type="number"
                        id="selectLevel"
                        class="form-control">



                    <option th:each="levelOption: ${level}"
                            th:value="${levelOption}"
                            th:text="${levelOption}"
                    ></option>

                </select>
            </div>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="age" class="text-dark font-weight-bold">Age</label>
            <input
                    th:field="*{age}"
                    th:errorclass="is-invalid"
                    type="number" id="age" min="1" max="90"
                   class="form-control"
                   placeholder="Age"
            aria-describedby="ageHelperInLine"/>
            <small th:errors="*{age}" id="ageError"
                   class=" bg-danger text-white rounded">Age is already occupied</small>
            <p class="errors alert alert-danger">
                Password is required.
            </p>
        </div>

        <div class="form-group col-md-6 mb-3">
            <label for="description" class="text-dark font-weight-bold">Description</label>
            <input
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    type="text" id="description"
                    class="form-control"
                    placeholder="Description"
                    aria-describedby="ageHelperInLine"/>

            <small th:errors="*{description}" id="descriptionError"
                   class=" bg-danger text-white rounded">Description is already occupied</small>

        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="password" class="text-dark font-weight-bold">Password</label>
            <input
                    th:field="*{password}"
                    th:errorclass="is-invalid"
                    type="password" id="password" min="2" max="20" class="form-control"
                   placeholder="Password"/>
            <small th:errors="*{password}" id="passwordError"
                   class="invalid-feedback  text-white form-text bg-danger rounded">
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="confirmPassword" class="text-dark font-weight-bold">Confirm Password</label>
            <input
                    th:field="*{confirmPassword}"
                    th:errorclass="is-invalid"
                    type="password" id="confirmPassword" min="2" max="20" class="form-control"
                   placeholder="Confirm Password"/>
            <small th:errors="*{confirmPassword}" id="confirmPasswordError"
                   class="invalid-feedback  text-white form-text bg-danger rounded">
                Password length must be between 5 and 20 characters and passwords should match.
            </small>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>
